<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context   http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/tx   http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/aop   http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 开始注解扫描，要扫描的是service和dao层的注解，要忽略web层的注解，因为web层让springMVC框架去管理 -->
	<context:component-scan base-package="com.huatec.edu">
		<!-- 配置哪些不要扫描的注解 -->
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>


	<!-- spring整合mybatis框架 -->
	<context:property-placeholder location="classpath:db.properties" /><!-- 
		引入db.properties -->
	<!-- 配置连接池 -->
	<bean id="druidDataSource" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="driverClassName" value="${db.driverClassName}" />
		<property name="url" value="${db.url}" />
		<property name="username" value="${db.username}" />
		<property name="password" value="${db.password}" />
	</bean>
	<!-- 配置sqlSessionFactory工厂 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="druidDataSource"></property>
	</bean>
	<!--配置接口所在包 -->
	<bean id="mapperScan" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 扫描dao接口的实现，加入到Ioc容器中 -->
		<property name="basePackage" value="com.huatec.edu.dao"></property>
	</bean>
	<!-- 配置事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="druidDataSource"></property>
	</bean>
	<!-- 配置事物通知 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="find" read-only="false" />
			<tx:method name="*" isolation="DEFAULT" />
		</tx:attributes>
	</tx:advice>
	<!-- 配置aop增强 -->
	<aop:config>
		<aop:advisor advice-ref="txAdvice"
			pointcut="execution(* com.huatec.edu.service.*ServiceImpl.*(..))" />
	</aop:config>
</beans>